@model IPagedList<Post>
@{
	ViewData["Title"] = "Trang chủ";
	var postQuery = (ViewBag.PostQuery as PostQuery) ?? new PostQuery();
}
<div class="p-4">
	@if (!string.IsNullOrWhiteSpace(postQuery.KeyWord))
	{
		<h3 class="text-primary mb-3">
			Những bài viết chứa từ khóa @postQuery.KeyWord
		</h3>
	}
</div>
@*<h1>
	Đây là trang chủ
</h1>
<p>
	bây giờ là: @ViewBag.CurrentTime
</p>*@
<div class="p-4">
	@foreach (var postItem in Model)
	{
		<partial name="_PostList" model="postItem" />
	}
	<partial name ="_Pager" model="@Model"/>
</div>
