<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <partial name="Header" />
        <div class="row">
            <div class="col-9">
                @RenderBody()
            </div>
            <div class="col-3 border-start">
                <partial name ="_SideBar"/>
            </div>
        </div>
       ///////
    </div>
    <footer class="border-top footer text-muted">
        <div class="container-fluid text-center">
            &copy; 2023 - tip & Tricks Blog
        </div>
    </footer>
    <script src=",,/lib/jquery/dist/jquery.min.js"></script>
    <script src=",,/lib/bootstrap/dist/bootstrap.bundle.min.js"></script>
    <script src=",,/lib/main.js"asp-append-version = "true"></script>
    @await RenderSectionAsync("scripts",required: false)
</body>
</html>
